<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Sync" %>
    </.live_title>

    <script :for={src <- SyncWeb.index_js_paths()} type="module" src={src}>
    </script>
    <link :for={src <- SyncWeb.index_css_paths()} rel="stylesheet" href={src} />
  </head>
  <body class="bg-gray-100 dark:bg-gray-900">
    <%= @inner_content %>
  </body>
</html>
